/target

# source data
*.fasta
# runtime output
*.trees
*.trace
*.state

# Python artifacts
__pycache__/
*.so
*.pyd

# Python virtual environment
.venv/

# perf
perf.data
perf.data.old
flamegraph.svg

# JavaScript
node_modules/

# Working notes
working_data/
.clang-format

# IDE
.vscode/

# Tools
.pytest_cache/
.github/

# macOS
.DS_Store

# Build artifacts
*.dSYM/
